body {
    background-color: aqua;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    font-size: 35px;
    font-family: cursive;

}

 .colorGREEN {
    background-color: rgb(6, 223, 6);
    color: #fff;
}

.colorRED {
    background-color: rgb(255, 0, 0);
    color: #fff;
}
.btn {
    border: 1px solid white;
    background-color: white;
    padding: 8px 22px;
    border-radius: 30px;
}
a {
    text-decoration: none;
    color: rgb(17, 206, 0);
}